serviceAccount:
  create: true
  name: geoserver-sa

ingress:
  enabled: true

services:
  geoserver:
    enabled: true
    replicaCount: 1
    service:
      type: ClusterIP
      ports:
        - name: http
          port: 80
          targetPort: 8080
    container:
      name: geoserver
      image: camptocamp/geoserver:latest
      ports:
        - containerPort: 8080
