image:
  repository: docker.osgeo.org/geoserver
  tag: latest
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: geoserver-sa

ingress:
  enabled: true
  host: geoserver.example.com
  tls:
    - secretName: geoserver-tls
      hosts:
        - geoserver.example.com

persistence:
  accessModes: ReadWriteOnce
  storageClass: ""
  capacity: 10Gi

geoserverUser: admin
geoserverPassword: geoserver
